html, body {
  background: #fff;
  color: #000;
  font-size: 16px;
}
.container {
  width: 900px;
  margin: 0 auto;
  padding: 5em 0;
}
.container::after {
  display: block;
  content: '';
  clear: both;
}
#header {
  text-align: center;
  padding: 4rem 0;
}
h1, h2, h3, h4, h5 {
  font-family: 'Libre Baskerville', serif;
  margin: 1.2rem 0 .8rem;
}
h1 {
  font-size: 1.95em;
}
h2 {
  font-size: 1.76em;
}
h3 {
  font-size: 1.54em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1em;
}
ul {
  margin-bottom: 1.8rem;
}

html, body, li, p {
  font-family: 'Montserat', sans-serif;
  font-weight: 300;
}
ul li, p {
  line-height: 1.3;
}

#header h1 {
  font-size: 4rem;
  letter-spacing: 2;
}
#header h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: .6rem;
}
#header h2:before {
  position: absolute;
  display: block;
  content: '';
  margin-top: -1rem;
  width: 20%;
  left: 40%;
  height: 1px;
  background: #000;
}

#intro h3 {
  color: rebeccapurple;
}
#intro {
  background: #FFF;
}
#intro .container {
  border-bottom: 1px solid darkorange;
}
#intro .intro-content {
  float: left;
  width: 55%
}
#intro .intro-sidebar {
  float: right;
  width: 35%;
}

#shop-info h4 {
  color: rebeccapurple;
}
#shop-info {
  background: #FFF;
}
#shop-info .shop-info-left {
  float: left;
  width: 55%;;
}
#shop-info .prices table {
  width: 100%;
}
#shop-info .prices table td:last-child {
  text-align: right;
}
#shop-info .prices table td span {
  background: white;
}
#shop-info .prices table td {
  padding: .7rem 0 .2rem 0;
  border-bottom: 1px dotted;
}
#shop-info .shop-info-right {
  float: right;
  width: 35%;
}
#shop-info .shop-info-right .contact {
  padding-top: 1rem;
}
#shop-info .shop-info-right .contact .address {
  margin-top: 1.5rem;
  font-size: .9rem;
}
#shop-info .shop-info-right .contact .cvr {
  font-size: .7rem;
}

#gallery .container {
  padding-top: 0;
}

@media (min-width: 1200px) {
  html, body {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  html, body {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  html, body {
    font-size: 24px;
  }
}