html, body {
  background: #fff;
  color: #000;
  font-size: 16px;
}
.container {
  width: 900px;
  margin: 0 auto;
  padding: 5em 0;
}
.container::after {
  display: block;
  content: '';
  clear: both;
}
#header {
  text-align: center;
  padding: 4rem 0;
}
h1, h2, h3, h4, h5 {
  font-family: 'Libre Baskerville', serif;
  margin: 1.2rem 0 .8rem;
}
h1 {
  font-size: 1.95em;
}
h2 {
  font-size: 1.76em;
}
h3 {
  font-size: 1.54em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1em;
}

a, a:visited {
  color: darkorange;
}

html, body, li, p {
  font-family: 'Montserat', sans-serif;
  font-weight: 300;
}
ul li, p {
  line-height: 1.3;
}

#header h1 {
  font-size: 4rem;
  letter-spacing: 2;
}
#header h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: .6rem;
}
#header h2:before {
  position: absolute;
  display: block;
  content: '';
  margin-top: -1rem;
  width: 20%;
  left: 40%;
  height: 1px;
  background: #000;
}

#intro h3 {
  color: rebeccapurple;
}
#intro {
  background: #FFF;
}
#intro .container {
  border-bottom: 1px solid darkorange;
}
#intro .intro-content {
  float: left;
  width: 55%
}
#intro .intro-sidebar {
  float: right;
  width: 35%;
}

#shop-info h4 {
  color: rebeccapurple;
}
#shop-info {
  background: #FFF;
}
#shop-info .shop-info-left {
  float: left;
  width: 50%;
}
#shop-info .prices table {
  width: 100%;
}
#shop-info .prices table td:last-child {
  text-align: right;
}
#shop-info .prices table td span {
  background: white;
}
#shop-info .prices table td {
  padding: .7rem 0 .2rem 0;
  border-bottom: 1px dotted;
}

#shop-info .shop-info-right {
  float: right;
  width: 40%;
}

#shop-info .shop-info-right .booking .desc-info {
  margin: .5rem 0;
  font-size: .7rem;
  width: 90%;
}

#shop-info .shop-info-right .online-booking {
  margin: 1.2rem 0 2rem 0;
  width: 80%;
}
#shop-info .shop-info-right .online-booking .notice {
  display: block;
  margin-top: .5rem;
  color: rebeccapurple;
  font-style: italic;
  font-size: .6rem;
  width: 90%;
}
#shop-info .shop-info-right .contact h4 {
  font-size: 1rem;
}
#shop-info .shop-info-right .contact .address {
  font-size: .85rem;
}
#shop-info .shop-info-right .contact .phone {
  margin-top: .33rem;
  font-size: .7rem;
  margin-bottom: .6rem;
}
#shop-info .shop-info-right .contact .email, #shop-info .shop-info-right .contact .cvr {
  margin-top: .33rem;
  font-size: .6rem;
  opacity: .5;
}

#shop-info .shop-info-right .social {
  margin-top: 1.2rem;
}
#shop-info .shop-info-right .social li {
  position: relative;
  padding-left: 25px;
}
#shop-info .shop-info-right .social li img {
  margin-left: -25px;
  margin-top: 8px;
  width: 15px;
  position: absolute;
}
#shop-info .shop-info-right .social li.facebook a {
  /* color: #0075fa; */
  font-size: .6rem;
}

@media (min-width: 1200px) {
  html, body {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  html, body {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  html, body {
    font-size: 24px;
  }
}

/* Booking button for onlinebooq */
a.obq-button {
  cursor: pointer;
  background: darkorange;
  padding: 0.5rem;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
  font-weight: 500;
  min-width: 200px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  border: 1px solid #f0a247;
}